.git/
.github/
.agents/
.tmp/

data/
v2.0/data/
v2.0/test-output/
v2.0/test-watch/
v2.0/host/
v2.0/iso-packer/config.json
v2.0/iso-packer/state.json
v2.0/iso-packer/*.log
v2.0/iso-packer/__pycache__/
__pycache__/

AutoISO/
iso-packer-v2/
*.gz
*.rar
*.tar
*.tar.gz
*.iso

*.tmp
*.bak
*.backup
